h2 {
  color: #f00;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body,
input[text],
button {
  color: #dc143c;
  font-family: Cambria, Georgia, serif;
}

button.clear {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, serif;
  padding: 5px 10px;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

button.clear {
  color: #888;
  margin-bottom: 12px;
}
